<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="port" value="25568" />
    <add key="motd" value="§6Verify Paid User §7(Non play-able)" />
    <add key="serverVersion" value="1.4.7" />
    <add key="onlinePlayers" value="0"/>
    <add key="maxPlayers" value="1"/>
    <add key="successWebPage" value="http://example.com/verify.php?user={0}&amp;code={1}" />
    <add key="tokenInvalidText" value="§c金幣不正確." />
    <add key="connectionFailText" value="§c無法從伺服器取得驗證, 可能伺服器在維護中或是網絡問題, 請稍後再試." />
    <add key="verifyFailText" value="§c請支持正版, 謝謝." />
    <add key="successText" value="§a驗證成功. 您的驗證碼為§6§l{0}§r§a." />
  </appSettings>
</configuration>